mixin player-content()
	.player-content
		.player-content_track-info
			img.player-content_track-album(src="img/01.jpg", alt="track-01")
			.player-content_tittle
				h1.player-content_Songs-name We’ll be coming back
				p.player-content_author Calvin Harris, Example
		.player-content_playlist
			ul.player-content_list
	template.playlist_template
		li.player-content_item
			i(class="demo-icon icon-play mini-play-button")
			p.player-content_playlist-song-name 
			p.player-content_playlist-song-rate 
