mixin player-header()
	.player-header
		.player-header_system-buttons
			button.buttons_system__shotdown
			button.buttons_system__minimize
			button.buttons_system__maximize
		.player-header_logo(class="col-3")
			img.logo(src="img/Grooveshark logo.png", alt="Grooveshark logo")

