mixin player-footer()
    .player-footer
        .player-footer_content
            .player-footer_buttons-control
                button.button_prev
                    i(class="demo-icon icon-previous")
                button.button_play(class="pause")
                    i(class="demo-icon icon-play")
                button.button_next
                    i(class="demo-icon icon-next")
                .track
            .player-footer_buttons-optional
                .progress-bar
                    .progress-bar_line
                button.button_mute
                    i(class="demo-icon icon-shape-2")
                        .mute-bar
                            .mute-bar_line
                button.button_random
                    i(class="demo-icon icon-shuffle")
                button.button_circle
                    i(class="demo-icon icon-repeat")
                button.button_share
                    i(class="demo-icon icon-share")